{# Block for display all form errors #}
<div id="errors">
</div>

{# Include submitting validator script into page #}
<script type="text/javascript" src="{{ asset('bundles/sleepnessuberfrontendvalidation/js/submit_validation.js') }}"></script>
